* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/sti-novaliches-building.png') no-repeat center;
    background-size: cover;

    font-family: 'Roboto', sans-serif;
}

.backdrop-overlay {
    background-image: -moz-linear-gradient(top, rgba(0, 109, 183, 0.75), #006db7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 109, 183, 0.75)), to(#006db7));
    background-image: -webkit-linear-gradient(top, rgba(0, 109, 183, 0.75), #006db7);
    background-image: -o-linear-gradient(top, rgba(0, 109, 183, 0.75), #006db7);
    background-image: linear-gradient(to bottom, rgba(0, 109, 183, 0.75), #006db7);
    background-repeat: repeat-x;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.backdrop-overlay .line {
    background: #fff200;
    height: 5px;
}

.container {
    text-align: center;
    height: 100%;
}

.container > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
}

.logo {
    border-radius: 0 0 5px 5px;
    height: 100px;
}

.welcome {
    color: #fff;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    margin: 0;
}

.text {
    font-size: 16px;
    margin-bottom: 50px;
}

.buttons .button-container {
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    background: transparent;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;

    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;

    cursor: pointer;
}

.button:not([disabled]):hover {
    background: #fff;
    color: #000;
}

.button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.hidden-mobile {
    display: none;
}

@media (min-width: 720px) {
    .container {
        text-align: left;
        position: relative;
        margin: 0 auto;
        width: 720px;
    }

    .logo {
        border-radius: 0 0 10px 10px;
        height: 151px;
    }

    .title {
        font-size: 64px;
    }

    .text {
        font-size: 20px;
    }

    .welcome {
        margin: 0;
    }

    .buttons .button-container {
        display: inline;
        margin: 0;
    }

    .hidden-mobile {
        display: initial;
    }
}

@media (min-width: 960px) {
    .container {
        width: 960px;
    }
}
